# created by virtualenv automatically


*.pyc
/assets
/data
/vqa/Scripts
/node_modules
/assets
/en-1.1.0
/Questgen.ai-master
/s2v_old
/pke-master
/vgg16_weights_tf_dim_ordering_tf_kernels.h5
/decoder_model_weights.h5
/encoder_model.h5
/test_output.txt
/tokenizer1500
/AllVideoDescriptions.txt
/YouTubeClips
/temporary_images
/video_corpus.csv